@import "./styles/main.scss";

body {
    height: 100%;
    width: 100%;
}

.hero.skewed {
    position: relative;
    overflow: visible;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        transform-origin: bottom right;
        transform: skewY(-4.42deg);
        background-color: $primaryPurple;
    }
}

.hero {
    background-color: $primaryPurple;
    background-image: url('./img/bg-detail-corner.svg');
    background-repeat: no-repeat;
    background-position: top right;
    height: 100vh;
    width: 100%;
    position: relative;

    .hero__container {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        padding-top: 200px;

        p {
            width: 50%;
            color: $secondaryPurple;
            font-size: 24px;
            line-height: 40px;
            margin-top: 30px;
        }

        a {
            .hero__btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 30px;

                span {
                    padding-right: 10px;
                    font-size: 16px;
                }
            }
        }
    }

    .hero__img {
        width: 60%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}