@import './styles/main.scss';

body {
    height: 100%;
    width: 100%;
}

.navbar__wrapper {
    width: 100%;
    height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;

    .navbar__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .navbar__nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            li {

                padding-right: 50px;

                a {
                    color: $tertiaryPurple;

                    &:hover {
                        color: $offWhite;
                    }
                }
            }
        }
    }
}

.hero {
    background-color: $primaryPurple;
    height: 100vh;
    width: 100%;
    background-image: url(./img/bg-detail-corner.svg);
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        // background: inherit;
        z-index: -1;
        bottom: 0;
        transform-origin: bottom right;
        transform: skewY(-4.42deg);
        background-color: $primaryPurple;
    }

    .hero__container {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        padding-top: 200px;

        p {
            width: 50%;
            color: $secondaryPurple;
            font-size: 24px;
            line-height: 40px;
            margin-top: 30px;
        }

        a {
            button {
                margin-top: 30px;
            }
        }
    }
}

// .slanted-div {
//     position: relative;
//     overflow: visible;
//     z-index: 1;

//     &::after {
//         content: '';
//         width: 100%;
//         height: 10vh;
//         position: absolute;
//         background: inherit;
//         background-color: $primaryPurple;
//         z-index: -1;
//         bottom: 0;
//         transform-origin: bottom right;
//         transform: skewY(-4.42deg);
//     }
// }