@import './styles/main.scss';

body {
    height: 100%;
    width: 100%;
}

.navbar__wrapper {
    width: 100%;
    height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;

    .navbar__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .navbar__nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            li {

                padding-right: 50px;

                a {
                    color: $tertiaryPurple;
                    transition: 0.3s ease-in;

                    &:hover {
                        color: $offWhite;
                    }
                }
            }

            a {
                .navbar__btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.skewed {
    position: relative;
    overflow: visible;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        transform-origin: bottom right;
        transform: skewY(-4.42deg);
        background-color: $primaryPurple;
    }
}

.hero {
    background-color: $primaryPurple;
    background-image: url('./img/bg-detail-corner.svg');
    background-repeat: no-repeat;
    background-position: top right;
    height: 100vh;
    width: 100%;
    position: relative;

    .hero__container {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        padding-top: 200px;

        p {
            width: 50%;
            color: $secondaryPurple;
            font-size: 24px;
            line-height: 40px;
            margin-top: 30px;
        }

        a {
            .hero__btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 30px;

                span {
                    padding-right: 10px;
                    font-size: 16px;
                }
            }
        }
    }

    .hero__img {
        width: 60%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}

.about {
    height: 80vh;
    width: 100%;
    margin-top: 600px;

    .about__container {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;

        h2 {
            font-size: 48px;
            font-weight: 700;
            color: $headerColor;
            margin-bottom: 60px;
        }

        .about__info {
            display: flex;
            flex-direction: row;
            margin-bottom: 150px;
            width: 100%;

            p {
                font-size: 24px;
                color: $secondaryPurple;
                line-height: 40px;
                width: 50%;
                text-align: justify;
            }

            .about__info-left {
                padding-right: 35px;
            }

            .about__info-right {
                padding-left: 35px;
            }
        }

        .about__clients {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
    }
}

.feature {
    // height: 325vh;
    width: 100%;
    background-color: $offWhite;
    padding-bottom: 100px;

    .feature__container {
        width: 70%;
        margin: 0 auto;
        padding-top: 200px;

        h2 {
            font-size: 48px;
            text-align: center;
            color: $headerColor;
            margin-bottom: 200px;
        }

        .feature__content.reverse {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }

        .feature__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 150px 0;
            background-color: rgb(238, 236, 242);
            border-radius: 7px;

            .feature__content-info {
                width: 60%;
                padding: 0 100px;

                h3 {
                    font-size: 32px;
                    font-weight: 700;
                    color: $headerColor;
                    margin-bottom: 30px;
                }

                p {
                    color: $secondaryPurple;
                    font-size: 20px;
                }
            }

            .feature-content-img {
                width: 150px;
                height: 150px;

                img {
                    width: 100%;
                }
            }
        }
    }
}

// .slanted-div {
//     position: relative;
//     overflow: visible;
//     z-index: 1;

//     &::after {
//         content: '';
//         width: 100%;
//         height: 10vh;
//         position: absolute;
//         background: inherit;
//         background-color: $primaryPurple;
//         z-index: -1;
//         bottom: 0;
//         transform-origin: bottom right;
//         transform: skewY(-4.42deg);
//     }
// }