@import '../utils/variables';

.footer__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $primaryPurple;

    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;

        .footer__middle {
            display: flex;
            flex-direction: row;

            .footer__middle-left {
                padding-right: 60px;
            }

            .footer__middle-right {
                padding-left: 60px;
            }

            .footer__middle-left,
            .footer__middle-right {
                display: flex;
                flex-direction: column;

                h4 {
                    color: $secondaryPurple;
                }

                ul {
                    li {
                        margin: 20px 0;
        
                        a {
                            color: $tertiaryPurple;
                            transition: 0.3s ease-in;
        
                            &:hover {
                                color: $offWhite;
                            }
                        }
                    }
                }
            }
        }

        .footer__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;

            a {
                margin-bottom: 50px;

                button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: $primaryGreen;
                    border: none;
                    border-radius: 30px;
                    width: 150px;
                    height: 54px;

                    span {
                        color: $white;
                        font-size: 20px;
                        font-weight: 700;
                        padding-left: 30px;
                    }
                }
            }
            
            .footer__copyright {
                font-size: 16px;
                color: $tertiaryPurple;
                text-align: right;
            }
        }
    }
}