@import '../utils/variables';

.navbar__wrapper {
    width: 100%;
    height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;

    .navbar__nav {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        a {
            @media screen and (max-width: 768px) {
                width: 150px;
            }

            img {
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        .navbar__nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                right: 0;
                height: 40vh;
                top: 10vh;
                width: 100%;
                background-color: $primaryPurple;
                transform: translateX(120%);
                transition: transform 0.5s ease-in;
            }

            li {

                padding-right: 50px;

                @media screen and (max-width: 768px) {
                    padding-right: 0px;
                }

                a {
                    color: $tertiaryPurple;
                    transition: 0.3s ease-in;

                    &:hover {
                        color: $offWhite;
                    }
                }
            }

            a {
                .navbar__btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 768px) {
                        display: none;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
        .navbar__nav-links.active {
            transform: translateX(0%);
        }
        
        .navbar__hamburger {
            display: none;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            div {
                height: 2px;
                width: 30px;
                background-color: $white;
                margin: 5px;
            }
        }
    }
}