// ==============================================
//             Site Colours & Typography
// ==============================================

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

// Main Colour Palette
$primaryPurple: #252442;
$secondaryPurple: #8887AA;
$tertiaryPurple: #59586F;
$primaryGreen: #4DCCBD;

// Page Backgrounds 
$offWhite: #F6F5F8; 

// Typography
$primaryFont: 'Inter', sans-serif;



